<div class="results-block">
  <%= render 'layouts/messages' %>
</div>

<% if @friends.present? %>
  <div class="card card-header results-block">
    <% @friends.each do |friend| %>
      <strong>Name: </strong> <%= friend.full_name %>
      <strong>Email: </strong> <%= friend.email %>
      <strong>Profile: </strong> <%= link_to "View Profile", '#', class: "btn btn-sm btn-success" %>
      <%= link_to 'Follow friend?', '#', class: "btn btn-sm btn-success", method: :post %>
      <br>
    <% end %>
  </div>
<% end %>
