<h1>Create a new article</h1>

<%= form_with scope: :article, url: articles_path, local: true do |f| %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

    <p>
      <%= f.label :desctiprion %>
      <%= f.text_area :description %>
    </p>
<% end %>
